<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">
  <title>Password Reset</title>
  <style>
    .background {
      background-color: rgba(55, 55, 55, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Lato';
      padding: 5rem;
    }
    h1, h2, h3, h4, h5, h6, .subtitle { font-family: 'Playfair Display'; margin: 0; }
    h3, h4, h5 { font-weight: 700; }
    h1 { font-size: 6rem; }
    h2 { font-size: 3.75rem; }
    h3 { font-size: 3rem; }
    h4 { font-size: 2.125rem; }
    h5 { font-size: 1.5rem; }
    h6 { font-size: 1.25rem; font-weight: 900; }
    p { margin: 0; }

    .card {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: -5px 5px 10px rgba(0,0,0,0.35);
      border-radius: 15px 15px 17px 17px;
      width: 310px;
    }

    .card > * {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    .card > .header {
      flex-direction: row;
      background-color: rgba(255, 255, 255, 1);
      color: rgba(36, 36, 36, 1);
      border-radius: 15px 15px 0px 0px;
    }

    .card > .header > .image {
      height: 6rem;
    }

    .card > .header > .content > * {
      margin-left: 1rem
    }

    .card > .body {
      display: block;
      background-color: rgba(255, 255, 255, 1);
      color: rgba(36, 36, 36, 1);
      text-align: justify;
    }

    .card > .body > *:not(:last-child) {
      width: 100%;
      margin-bottom: 1rem;
    }

    .card > .footer {
      justify-content: right;
      flex-direction: row;
      background-color: rgba(36, 36, 36, 1);
      border-radius: 0px 0px 15px 15px;
    }

    .button {
      position: relative;
      box-sizing: border-box;
      border: none;
      border-radius: 4px;
      display: inline-block;
      padding: 0 16px;
      min-width: 64px;
      height: 36px;
      vertical-align: middle;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      color: rgba(36, 36, 36, 1);
      background-color: rgb(255, 255, 255, 1);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="background">
    <div class="card">
      <div class="header">
        <img class="image" src="https://assets.daniromo.me/logo-4k.png" alt="logo">
        <div class="content">
          <h3 class="title">auth</h3>
          <p class="description">Microservice</p>
        </div>
      </div>
      <div class="body">
        <p>Forgot your password?</p>
        <p>
          Hey <%= forename %>, it looks like you've requested a password reset.
          If you wish to proceed and reset it, you must generate a new password within 1 hour of having received this email.
          In any other case please ignore this message.
        </p>
      </div>
      <div class="footer">
        <a href="<%= url %>" target="__blank"><button class="button">create new password</button></a>
      </div>
    </div>
  </div>
</body>
</html>